.schedule-consult-cta {
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;

  &--primary {
    background-color: #8a45e6;
    color: white;
    border: 1px solid #8a45e6;
  }

  &--secondary {
    background-color: white;
    border: 1px solid #8a45e6;
    color: #8a45e6;
  }

  &--disabled {
    background-color: #b4b4be;
    color: white;
    border: 1px solid #b4b4be;
  }
}