.see-all-doctors-cta {
  border-radius: 8px;
  border: 1px solid #2D2D32;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
  color: #2D2D32;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}