.doctor-cta {
  padding-top: 20px;
  margin-top: 18px;
  border-top: 1px solid #F0F0F5;

  &__row {
    display: flex;
    align-items: center;
  }

  &__left, &__right {
    width: 50%;
  }

  &__left {
    padding-right: 4px;
  }

  &__right {
    padding-left: 4px;
  }
}