@font-face {
  font-family: 'Lato';
  font-display: swap;
  src: url('//www.practostatic.com/fonts/lato/Lato-Regular.eot?#iefix');
  src: url('//www.practostatic.com/fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
      url('//www.practostatic.com/fonts/lato/Lato-Regular.woff2') format('woff2'),
      url('//www.practostatic.com/fonts/lato/Lato-Regular.woff') format('woff'),
      url('//www.practostatic.com/fonts/lato/Lato-Regular.svg') format('svg'),
      url('//www.practostatic.com/fonts/lato/Lato-Regular.ttf') format('truetype');
  
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  font-display: swap;
  src: url('//www.practostatic.com/fonts/lato/Lato-Bold.eot?#iefix');
  src: url('//www.practostatic.com/fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
      url('//www.practostatic.com/fonts/lato/Lato-Bold.woff2') format('woff2'),
      url('//www.practostatic.com/fonts/lato/Lato-Bold.woff') format('woff'),
      url('//www.practostatic.com/fonts/lato/Lato-Bold.svg') format('svg'),
      url('//www.practostatic.com/fonts/lato/Lato-Bold.ttf') format('truetype');
  
  font-weight: 700;
}

html,
body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}


