.c_clinic_details {
  display: flex;
  padding: 0 20px 20px;
  margin-top: -46px;
  border-bottom: 1px solid #F0F0F5;
}

.c_clinic_details_content {
  width: 80%;
}

.c_clinic_details_header {
  font-size: 20px;
  line-height: 26px;
}

.c_clinic_details_subhead, .c_clinic_details_address_section {
  font-size: 14px;
  line-height: 20px;
  margin-top: 4px;
}

.c_clinic_details_address_section {
  display: flex;
  align-items: center;
}

.c_clinic_details_address {
  font-weight: bold;
  width: 50%;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.c_clinic_details_direction {
  color: #199FD9;
}

.c_clinic_details_reviews {
  border: 1px solid #F0F0F5;
  border-radius: 8px;
  overflow: hidden;
  height: 71px;
  width: 62px;
}

.c_clinic_details_rating {
  background-color: #00A500;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.c_clinic_details_review_count {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

.c_clinic_details_review_text {
  font-size: 12px;
  line-height: 14px;
  color: #B4B4BE;
}

.c_clinic_details_review_count,
.c_clinic_details_review_text {
  text-align: center;
}